html{
    height: 100%;
    width: 100%;
}

div.toplinks{

    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.toplinks a{
    color: blueviolet;
    margin: 20px 15px;
}